<div>
  <form>
    {{ name }}
    <div class="formLine">
      <input
        type="text"
        name="firstname"
        placeholder="First name"
        value="{{ name }}"
      />
    </div>
    <div class="formLine">
      <input type="text" name="lastname" placeholder="Last name" />
    </div>
    <div class="formLine">
      <input type="email" name="email" placeholder="Email" />
    </div>
    <div class="formLine">
      <input type="text" name="phone" placeholder="Phone" />
    </div>
    <div class="formLine">
      <input type="submit" value="Save" />
    </div>
  </form>
</div>
